.feauture{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: $light-grey-backgroung;

    &__card-list{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 5% 0;
    }
}

.card{
    width: 30%;
    min-width: 320px;

    &__img{
        width: 100%;
        height: auto;
    }

    &__title{
        @include card-title;
    }

    &__description{
        @include text;
    }
}