.footer{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: $light-color;
    background-color: $dark-color;
    
    &__main-information{
        position: relative;
        display: flex;
        justify-content: space-between;

        &__part{
            position: relative;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 30%;
            min-width: $min-w;
            padding: 5% 0;
        }

    }

    &__main-information:after{
        content: '';
        position: absolute;
        top: 90%;
        right: 0;
        left: 0;
        height: 0.5px;
        background-color: $light-blue-color;
    }

    &__leaders{
        width: 35%;
        line-height: 120%
    }


    &__address{
        right: 0;
        width: 30%;
        line-height: 120%;
    }

    &__signature{
        padding: 0 0 1% 0;
        color: $light-blue-color;
    }
}

