.history{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 0 10% 0;
    background: linear-gradient(to bottom, $light-grey-backgroung 50%, $light-color 50%);

    &__position{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__about-blok{
        width: 70%;
        padding: 8rem;
        background-color: $dark-color;
        box-shadow: -3em 5em $light-grey-backgroung;
    } 

    &__about{
        position: relative;
        width: 50%;
    } 
    
    &__about:after{
        content: '';
        position: absolute;
        top: 90%;
        right: 0;
        left: 0;
        height: 0.5px;
        background-color: $light-blue-color;
    }

    &__subtitle{
        @include subtitle; 
    }

    &__title{
        @include title;
        color: $light-color;
    }

    &__description{
        @include text;
        color: $light-color;
    }

    &__img{
        position: absolute;
        right: 15%;
        top: 30%;
        width: 430px;
        height: 550px;
    }
}



