@media (min-width: 320px) and (max-width: 992px){
    html{
        font-size: 8px;
    }

    .nav{
        justify-content: center;
        
        &__list{
            display: none;
        }
    }

    .button--mail{
        display: none;
    }

    .hero{
        
        &__part{
            width: 100%;
            text-align: center;
            justify-content: center;
        }
        &__img{
            position: relative;
            box-shadow: none;
            padding: 5rem 0 0 0;
        }
    }

    .feauture{    
        &__card-list{
            flex-direction: column;
        }
    }

    .card{
        width: 100%;
    
        &__img{
            width: 100%;
            height: auto;
        }
    
    }

    .history{

        &__about-blok{
            text-align: center;
            width: 100%;
            padding: 1.5rem;
            box-shadow: none;
        } 

        &__about{
            width: 100%;
        }


        &__img{
            display: none;
        }
    }


    .articles{
        &__about{
            flex-direction: column;
        }
    

    }
    .article{
        width: 100%;
    }

    .contact{

        &__position{
            flex-direction: column;
            width: 100%;
            text-align: center;
        }

            
        &__career{
            width: 100%;
        }

        &__img{
            display: none;
        }
    }

    .footer{

        &__main-information{
            flex-direction: column;
            

            &__part{
                width: 100%;
                align-items: center;
            }
        }

        &__signature{
            justify-content: center;
        }
    }
}


.section-header{
    width: 100%;
}