// color
$orange: #FF9900;
$dark-color: #263640;
$light-blue-color: #929A9F;
$light-color: #FFFFFF;
$light-grey-backgroung: #F5F8FA;

//text
$text-size: 1.6rem;
$subtitle: 1.4rem;
$title: 3.2rem;