// color
$orange: #FF9900;
$dark-color: #263640;
$light-blue-color: #929A9F;
$light-color: #FFFFFF;
$light-grey-backgroung: #F5F8FA;

//text
$text-size: 16px;
$subtitle: 14px;
$title: 32px;
$min-w: 500px;